body {
    background-image: url("anchovia1.jpeg");
    background-size: 400px; 
    background-repeat: repeat;
    background-position: -50px -50px;
    height: 98vh;
    animation: moveBackground 60s linear infinite;
}

@keyframes moveBackground {
    0% {
        background-position: -50px -50px;
    }
    100% {
        background-position: 1000px 1000px; /* Adjust to achieve the desired effect */
    }
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

iframe {
    margin-bottom: 8rem;
}

@media all and (max-width: 700px) {
    body {
        background-size: 200px;
    }
}
